body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.center {
  text-align: center;
}

.desktop .bm-cross-button  {
  display: none;
}

.desktop .bm-menu-wrap, .desktop .bm-burger-button {
  display: none;
}

.mobile #page-wrap {
  padding-top: 10rem;
}

.mobile .navbar {
  display: none;
}

.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.right .bm-burger-button {
  left: initial;
  right: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-menu {
  background: #373a47;
}

.bm-menu a:hover, a:focus {
  color: #c94e50;
}

.bm-menu a {
  color: #b8b7ad;
}

.bm-menu .bm-item-list a {
  padding: 0.4em 0.8em;
  font-size: 24px;
  text-decoration: none;
}

.bm-menu span {
  margin-left: 10px;
  font-weight: 700;
}

.bm-cross {
  background-color: #b8b7ad;
}

.navbar + .docs-section {
  border-top-width: 0;
}

.navbar, .navbar-spacer {
  display: block;
  width: 100%;
  height: 6.5rem;
  background: #fff;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 24px;
}

.navbar-spacer {
  display: none;
}

.navbar > .container {
  width: 100%;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 48px;
}

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}

.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
}

.navbar-link.active {
  color: #33C3F0;
}

.has-docked-nav .navbar {
  position: fixed;
  top: 0;
  left: 0;
}

.has-docked-nav .navbar-spacer {
  display: block;
}

.has-docked-nav .navbar > .container {
  width: 80%;
}

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  margin: 0 4px;
}

.pagination a:hover:not(.active) {color: #0FA0CE;}

.pagination a.active {
  color: #c94e50;
}

div.loader {
  position: relative;
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  width: 77px;
}

.danger label, .danger li {
  color: #a94442;
}